<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title"><strong>{{contact?.name}}</strong></h4>
      <img src="{{ contact?.imageUrl }}" alt="{{ contact?.name }}" class="img-responsive pull-left" style="max-height: 50px;">
      <div class="pull-right align-middle">
        <button class="btn btn-success">Delete</button>
        <button class="btn btn-success">Edit</button>
      </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong>{{contact?.email}}</p>
    <p><strong>Phone:</strong>{{contact?.Phone}}</p>
  </div>
</div>