<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title"><strong>{{selectedContact?.name}}</strong></h4>
    <img src="{{ selectedContact?.imageUrl }}" alt="{{ selectedContact?.name }}" class="img-responsive pull-left" style="max-height: 50px;">
    <div class="pull-right align-middle">
      <a (click)="onDelete()" class="btn btn-success">Delete</a>
      <a routerLink="edit" class="btn btn-success">Edit</a>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong>{{selectedContact?.email}}</p>
    <p><strong>Phone:</strong>{{selectedContact?.phone}}</p>
    <p *ngIf="selectedContact.group"><strong>Contacts in team</strong></p>
    <div *ngFor="let contact of selectedContact?.group; let i = index">
      <a routerLink="{{contact.id}}" routerLinkActive="active" class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
        </div>
        <span class="pull-right">
        <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
      </a>
    </div>
  </div>
</div>
